body {
  background-color: red;
  background-image: url(c57bebc576e47efae70b9644cb6f5ba1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

